@charset "utf-8";
/* CSS Document */
body,span,ul,p,h1,h2,h3,h4,h5,h6,form,input,ol,dl,dd{margin:0;padding:0;}
body{font-size:12px;font-family:"黑体"; background:#fff;}
a{color:#666;text-decoration:none;}
a:hover{ color:#FFFFFF;}
input,select{ font-size:12px;}
table{ border-collapse:collapse;}
a img{border:0;vertical-align:middle;}
img{vertical-align:middle;}
ul li{list-style:none;vertical-align:text-top;}
.over{overflow:hidden;zoom:1;}
.clear{ clear:both;}
.left{
	float: left;
}
.right{
	float: right;
}

body{
	
}
/******* header start*********/
.header{
	width: 1000px;
	height: 32px;
	text-align: center;
	
	margin: 0 auto;	
}
.header .hleft span{
	width:66px ;
	line-height: 32px;
	color: grey;

	
}
.header span i{
	
	line-height: 66px;
	
	
}
.header span .fa{
	width: 10px;
	height: 5px;
	line-height: 3px;
	margin-top: 0px;
	margin-left: 5px;
}
/******* hcon start*******/
.hcon{
		width: 100%;
		height: 82px;
		background-color: #1C4987;
}
.hcon .cbox{
	width: 1000px;
	height: 82px;
	margin: 0 auto;
}
.hcon .cbox h1{
	display: inline-block;
	width: 163px;
	height: 49px;
	margin-top: 17px;
	margin-right: 60px;
}	
.hcon .cbox h1 img{
	display: inline-block;
	width: 163px;
	height: 49px;
}	
.cbox .lang{
	display: inline-block;
	margin-top: 48px;
	
}
.hcon .cbox lang a{
	font-size: 14px;
	font-weight: 200;
	font-family: "楷体";
}
.hcon .cbox lang a:active{
	color: #FFFFFF;
}
.cu{
	color: #FFFFFF;
}
.hcon .nav{
	width: 600px;
}
.hcon .nav ul{
	width: inherit;
	margin-top:46px ;
}
.hcon .nav ul li{
	width: 100px;
	height: inherit;
	
	
}
.hcon .nav ul li a{
	font-size:14px ;
	font-weight:400;
	color: #FFFFFF;
}
.hcon .nav ul li a:hover{
	color: #47CCFF;
}
/******** banner start*********/
.banner{
	width: 1000px;
	height: 292px;
	margin: 0 auto;
	overflow:hidden; zoom:1; 
	position:relative; 
	z-index:10;
	margin-bottom: 40px;
}
.banner .bimg{
	width: 1000px;
	height: 292px;
}
.banner .bimg a img{
	width: 1000px;
	height: 292px;
}
.banner .bmark{
	position:absolute; 
	right:452px; 
	bottom:17px; 
	z-index:20;
}
.banner .bmark span{
	display:inline-block;
    margin-right:8px; 
    width:14px; 
    height:14px; 
    text-align:center; 
    line-height:18px;
    background-color:#FFFFFF; 
    border-radius:50%; 
    overflow:hidden; 
    cursor:pointer;/*鼠标小手*/
}

.bmark span.current{ 
	background-color:#194C90;
}
/****** con star **********/
.con{
	width: 1000px;
	height: 1071px;
	margin: 0 auto;
	font-family: "微软雅黑";
}
/** 左侧 **/
.con .cleft{
	width: 410px;
	height: 1070px;
}
.con .cleft h2{
	width: inherit;
	height: 29px;
	
	
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 10px;
	position: relative;
}
.con .cleft h2 a{
	font-size: 16px;
	color: #1d1d1d;
	font-weight: bold;
}
.con .cleft .more{
	font-size: 14px;
	position: absolute;
	right: 0;
	color: 333333;
}
.cleft .key{
	width: inherit;
	height: 70px;
	margin-bottom: 30px;
	
}
.cleft .key ul{
	width: inherit;
	height: 75px;
	margin-top:14px ;
	position: relative;
}
.cleft .key ul li{
	width: inherit;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	position: relative;
}
.cleft .key ul li i{
	display: inline-block;
	border: 2px solid #666666;
	position: absolute;
	top:14px;
	left: 0;
	border-radius:50%;
}
.cleft .key ul li a{
	margin-left: 6px;
	color: #194C90;	
	line-height: 30px;
}
.cleft .key ul li time{
	position: absolute;
	right: 0;

	list-style: none;
}
/***** 集团要闻 ******/
.cleft .news{
	width: 410px;
	height: 107px;
	margin-top: 10px;
}
.cleft .news .nimg{
	width: 163px;
	height:107px;
	
}
.cleft .news .nimg img{
	width: 163px;
	height:107px;
}
.cleft .news .nt{
	width: 237px;
}
.cleft .news .nt a{
	font-size: 16px;
	color:#194C90;
	line-height: 26px;
}
.cleft .news .nt p{
	color:#666;
	line-height: 20px;
}
